footer {
    padding: 40px 0;

    a {
        font-size: 25px;
        padding: 0 10px;
        color: $color-dark;
        text-decoration: none;

        &:hover {
            color: $color-border;
        }
    }
}