header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    div {
        padding-bottom: 20px;
        align-items: center;

        h1 {
            font-size: $font-size-header;
            color: $color-dark;
            margin-bottom: 20px;

            span {
                &:first-child {
                    color: $color-buy;
                }

                &:last-child {
                    color: $color-sell;
                }
            }
        }

        h2 {
            font-size: $font-size-text;
            color: $color-text;
            margin-bottom: 20px;
        }


    }

    img {
        border: 2px solid $color-border;
        height: 400px;
    }
}