.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;

    .logo {

        img {
            width: 30px;
            height: 30px;
        }

        p {
            font-family: $font-logo;
            font-size: $font-size-logo;
        }
    }
}