.tileSection {
    padding-top: 50px;

    h1 {
        font-size: $font-size-header;
        color: $color-border;
        margin-bottom: 40px;
    }

    .tile {
        text-align: center;

        .iconTile {
            font-size: 25px;
        }

        h1 {
            color: $color-buy;
            font-size: $font-size-logo;
        }

        p {
            color: $color-text;
            font-size: $font-size-text;
        }
    }
}