$color-buy: #8FC730; // buy button, buy text
$color-sell: #2C9E9C; //nagłówek, , kolor tekstu w kolumnach
$color-text: #798da3; //span, text, h2
$color-header: #21374A; // header
$color-border: #6DA66C; //kolor wiadomości typu info,
$color-white: #ffffff;
$color-dark: #29323d;



//#6DA66C
//#2EB36E