.buyButton {
    border-radius: 10px;
    border: none;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 13px;
    background-color: $color-buy;
    color: $color-white;
    width: 120px;

}

.sellButton {
    border-radius: 10px;
    border: 1px solid $color-sell;
    text-decoration: none;
    padding: 8px 20px;
    font-size: 13px;
    background-color: $color-white;
    color: $color-dark;
    text-align: center;
    //width: 120px;

}

.submitButton{
    border-radius: 10px;
    border: 1px solid $color-sell;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    background-color: $color-border;
    color: $color-dark;
    text-align: center;
    width: 120px;
}

.logoutButton{
    border-radius: 10px;
    border: 1px solid $color-dark;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 13px;
    background-color: $color-dark;
    color: $color-white;
    text-align: center;
    width: 120px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-bottom: 20px;
    }
}

