$open-sans-font: "Open Sans", sans-serif; //text Light 300, Light 300 italic, Regular 400, Bold 700
$font-size-text: 13px;
$font-size-header: 25px;
$font-size-logo: 22px;

@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

$font-logo: 'Over the Rainbow', cursive;